<!DOCTYPE html>
<html>
  <head>
    <title><%= "Cat Fact" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= "Cat Fact" %></h1>
    <a href="/cats/fact">Get a cat fact</a>
  </body>
</html>