<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat fact!</title>
</head>
<body>
  <h1>Here's your cat fact!</h1>
  <p><%= fact %></p>
  <a href="/cats/fact">Get another cat fact!</a>
</body>
</html>